Lab2/out/production/Lab2/Scheduler/Algorithm.class
Lab2/out/production/Lab2/Scheduler/Clock.class
Lab2/out/production/Lab2/Scheduler/CPU.class
Lab2/out/production/Lab2/Scheduler/Task.class
Lab2/out/production/Lab2/Scheduler/FCFS.class
Lab2/out/production/Lab2/Scheduler/Priority.class
Lab2/out/production/Lab2/Scheduler/PriorityRR.class
Lab2/out/production/Lab2/Scheduler/RR.class
Lab2/out/production/Lab2/Scheduler/SJF.class
Lab2/Lab2.iml
Lab2/.idea/misc.xml
Lab2/.idea/modules.xml
Lab2/.idea/vcs.xml
Lab2/out/production/Lab2/Driver.class
Lab2/out/production/Lab2/Lab2.iml
Lab2/out/production/Lab2/.idea/misc.xml
Lab2/out/production/Lab2/.idea/modules.xml
Lab2/out/production/Lab2/.idea/vcs.xml
Lab2/Driver.class
Lab2/Scheduler/Algorithm.class
Lab2/Scheduler/Clock.class
Lab2/Scheduler/FCFS.class
Lab2/Scheduler/Task.class
Lab3/Person.java
Lab3/Person.class
Lab2/Scheduler/Priority.class
Lab2/Scheduler/SJF.class

